


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calculator</title>
    <link rel='stylesheet' type="text/css" href='./static/css/main.css'>
</head>
<body class="body1">
    <h1>Calculator</h1>
    <br>
    <label>Choose the option and enter no</label>
    <div class="main">
        <form action='/math' method="POST">
        <select id="options" name="options">
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
            <option value="Multiplication">Multiplication</option>
            <option value="Division">Division</option>

        </select>
    <input type="text" name="firstno",id="num1">
    <input type="text" name="secondno",id="num2">

    <button>click to submit</button>
    </form>
    </div>
    <div class="result">
        <label>The result :</label>
        <label id="total"></label>
    </div>
   
</body>
</html> 